# cp secrets.nix.template /etc/nixos/secrets.nix

{
  users = {
    root.hashedPassword = ""; # mkpasswd -m sha-512
    william.hashedPassword = ""; # mkpasswd -m sha-512
  };

  znc.users = {
    william = {
      Nick = "";
      Admin = true;
      Network = {
        freenode = {
          Server = "chat.freenode.net +6697";
        };
      };
      Pass.password = { # znc -s
        Method = "sha256";
        Hash = "";
        Salt = "";
      };
    };
  };
}
