#window {
  background-color: rgba(0, 0, 0, 1);
}

#outer-box {
  background-color: rgba(0, 0, 0, 1);
}

#input {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

#inner-box {
  background-color: rgba(0, 0, 0, 1);
}

#text {
  color: rgba(255, 255, 255, 1);
}
